<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="BACA" />
    <add key="DataServiceBaseUrl" value="http://api.pigbanker.com/bankProgramme/api/" />
    <add key="IsDebugHost" value="false" />
    <add key="IsUseWCF" value="true" />
    <add key="SocketPort" value="8023" />
    <add key="NeedPreLoadAssemblys" value="" />
    <add key="NodejsStartupFilePath" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
